.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	width: 200px;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;

	color: getColor("prim-btn-cl");
	background-color: getColor("primary-btn-bgc-cl");
	font-weight: 700;
	font-size: $font-medium;
	line-height: 1.88;
	letter-spacing: 0.06em;

	cursor: pointer;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		background-color: getColor("prim-hover-btn-bgc-cl");
	}
}

.button__append {
	margin-left: 10px;
}
